@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

::-webkit-scrollbar-thumb:active {
  background: #8a8a8a;
}

@media (max-width: 1024px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* check the connection of repo */
